.btn-primary {
	background-color: #7F1F00;
	border-color: #6B2F1B;
	color: white;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.btn-primary:hover, .btn-primary:active {
	background-color: #8F2F11;
	text-decoration: none;
}

a.btn {
	text-decoration: none;
}