@import url(http://fonts.googleapis.com/css?family=Brawler);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

body {
	width: 100%;
	height: 100%;
	font-family: 'Playfair Display', serif;
	font-size: 1.4rem;
	color: black;
	padding-top: 130px;
	background-color: #f9f7f1;
}

html {
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

h1::before {
	border-top: 1px solid #2f2f2f;
	content: "";
	display: block;
	height: 7px;
	margin: 0 auto;
	width: 500px;
}

h1::after {
	border-bottom: 1px solid #2f2f2f;
	content: "";
	display: block;
	height: 10px;
	margin: 0 auto;
	width: 300px;
}

@media ( min-width :767px) {
	.navbar-eilkurier .container {
		padding: 20px 0;
		-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
		transition: background .5s ease-in-out, padding .5s ease-in-out;
	}
	.top-nav-collapse {
		padding: 0;
	}
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
	input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus,
	input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
	input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus,
	input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus,
	.uneditable-input:focus {
	border-color: #FF784C;
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px #7F1F00, 0 0 8px #FF784C;
	-moz-box-shadow: inset 0 1px 1px #7F1F00, 0 0 8px #FF784C;
	box-shadow: inset 0 1px 1px #7F1F00, 0 0 8px #FF784C;
}

/* LINKS ================================================= */
a {
	text-decoration: underline;
	color: #7F1F00;
}

/* NAVIGATION ============================================ */
.navbar-eilkurier {
	background-color: #6B2F1B;
	padding: 0px;
	margin-bottom: 0px;
	border-bottom: 2px solid #6B2F1B;
}

.navbar-eilkurier a {
	text-decoration: none;
	color: white;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.navbar-eilkurier a:hover {
	color: white;
}

.navbar-eilkurier li>a:hover, .navbar-eilkurier li>a:active,
	.navbar-eilkurier li>a:focus {
	border: none;
	background: none;
	text-shadow: 0 0 2px rgba(255, 255, 255, 1), 0 0 5px #7F1F00, 0 0 7px
		#7F1F00, 0 0 10px #7F1F00, 0 0 17px #7F1F00, 0 0 20px #7F1F00, 0 0
		25px #7F1F00;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.navbar-eilkurier .container {
	padding: 20px 0;
}

.navbar-eilkurier .navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 5px;
    text-align: center;
    margin: auto;
}

.navbar-eilkurier .navbar-brand .brand-name {
	    margin-left: -15px;
}

.navbar-eilkurier .navbar-brand a {
	font-weight: bold;
	font-family: 'Brawler', serif;
	font-size: 38px;
}

.navbar-eilkurier .navbar-brand a:hover, .navbar-eilkurier .navbar-brand a:active,
	.navbar-eilkurier .navbar-brand a:focus {
	border: none;
	text-shadow: 0 0 2px rgba(255, 255, 255, 1), 0 0 5px #7F1F00, 0 0 7px
		#7F1F00, 0 0 10px #7F1F00, 0 0 17px #7F1F00, 0 0 20px #7F1F00, 0 0
		25px #7F1F00;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.navbar-eilkurier .navbar-brand a img {
	max-height: 49px;
}

.navbar-eilkurier .navbar-right li a:hover, .navbar-eilkurier .navbar-right li a:active,
	.navbar-eilkurier .navbar-right li a:focus {
	background: none;
}

.navbar-eilkurier .navbar-right li.open>a {
	background: none;
}

.navbar-eilkurier .navbar-login {
	width: 305px;
	padding: 10px;
	padding-bottom: 0px;
}

.navbar-eilkurier .navbar-login-session {
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.navbar-eilkurier .navbar-user-icon {
	font-size: 87px;
}

.navbar-slogan {
	background-color: white;
	font-family: 'Playfair Display', serif;
	color: #6B2F1B;
	font-weight: bold;
	line-height: 30px;
}

#footer {
	color: white;
	font-family: 'Brawler', serif;
}
#footer img {
	margin-top: 20px;
}
#footer a {
	color: white;
}

#footer h1 {
	color: white;
}

#footer h1:before {
	border-color: white;
	width: 220px;
}

#footer h1:after {
    border-color: white;
    width: 140px;
}
.page-content {
	margin-bottom: 60px;
}