#homepage-content .info .info-text {
	font-size: 16px;
}
#homepage-content .main-text {
    position: absolute;
    top: 0px;
    width: 96.66666666666666%;
}
#homepage-content .btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

#homepage-content .carousel-inner {
	height: 450px;
}
#homepage-content .carousel-control {
	background: none;
	color: #6B2F1B;
}
#homepage-content .carousel-indicators li {
	border: 1px solid black;
	background-color: #6B2F1B;
}
#homepage-content .carousel-indicators li.active {
	background-color: #FF784C;
}
#homepage-content .service h2 {
	margin:0;
}
#homepage-content .carousel-inner h3 {
	margin: 0;
}
#homepage-content .item {
	padding-top: 80px;
}

#homepage-content section#login, #homepage-content section#service  {
	margin-top: 55px;
}
#homepage-content .login .container {
	border: 2px solid #6B2F1B;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif; 
}
#homepage-content .login .form-group {
	margin-bottom: 0px;
	padding: 20px;
	float: left;
}

#homepage-content .loginform {
    background-color: white;	
}

#homepage-content .login .login-logo {
	background-color: #6B2F1B;
	color: white;
	font-size: 38px;
	font-family: 'Brawler', serif;
	height: 99px;
}