body {
	background-color: #6b2f1b;
	padding-top: 20px;
}

#wrapper {
    width: 900px;
}

.wizard h1 {
    padding-top: 20px;
	margin-top: 0px;
}

.wizard h1::before, .wizard h1::after {
	border-top: none;
	border-bottom: none;
}

.wizard h2 {
	text-transform: none;
	font-weight: normal;
}

.wizard h2::before {
	border-top: 1px solid #2f2f2f;
	content: "";
	display: block;
	margin: 0 auto;
	width: 500px;
}

.wizard h2::after, .wizard h3::after {
	border-bottom: 1px solid #2f2f2f;
	content: "";
	display: block;
	height: 10px;
	margin: 0 auto;
	width: 300px;
}

.wizard .nav-tabs {
	position: relative;
	margin-bottom: 0;
}

.wizard>div.wizard-inner {
	position: relative;
	bottom: 0;
	width: 100%;
}

.connecting-line {
	height: 2px;
	background: white;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 35%;
	z-index: 1;
}

.navbar-fixed-top {
    display: none;
}

.navbar-slogan {
	display: none;
}

.wizard .nav-tabs>li.active>a, .wizard .nav-tabs>li.active>a:hover,
	.wizard .nav-tabs>li.active>a:focus {
	color: black;
	cursor: default;
	border: 0;
	border-bottom-color: transparent;
	background: transparent;
}

span.round-tab {
	display: inline-block;
	background: #6b2f1b;
	border: 2px solid white;
	z-index: 2;
	position: absolute;
	left: 0;
	text-align: center;
	font-size: 25px;
	padding: 3px 20px;
}

span.round-tab i {
	color: #777;
}

.wizard li.active span.round-tab {
	border: 2px solid white;
	background-color: #6b2f1b;
	color: white;
	font-weight: bold;
}

.wizard li.active span.round-tab i {
	color: white;
	margin-right: 10px;
}

span.round-tab:hover {
	color: white;
	border: 2px solid #333;
}

.wizard .nav-tabs>li {
	width: 30%;
}

.wizard li:after {
	content: " ";
	position: absolute;
	left: 36%;
	opacity: 0;
	margin: 0 auto;
	bottom: 0px;
	border: 10px solid transparent;
	border-bottom-color: #f9f7f1;
   -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.wizard li.active:after {
	content: " ";
	position: absolute;
	left: 44%;
	opacity: 1;
	margin: 0 auto;
	bottom: 0px;
	border: 30px solid transparent;
	border-bottom-color: #f9f7f1;
}

.wizard .nav-tabs>li a {
	width: 220px;;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 35px; 
	border-radius : 100%;
	padding: 0;
	border-radius: 100%;
	background: transparent;
}

.wizard .nav-tabs>li a:hover {
	background: transparent;
}

.wizard .tab-pane {
	position: relative;
}

h3:before, h3:after {
    border: none;
}
.wizard h3 {
	margin-top: 0;
}

.wizard form {
	   background-color: #f9f7f1;
}

.categorycontainer {
	 background-color: rgba(255, 255, 255, 0.2);
    display: table-cell;
    width: 50%;
    position: relative;

}


.categorycontainer li {
        cursor: grab;	
        list-style: none;
}


.wrapper {
  display: table;
}

#categories, #usercategories {
	float: left;
	width: 50%;
}

#categories .filtersection, #usercategories .filtersection{
	background-color: none;
	width: 100%;
	height: 50px;
	border: none
	padding-top: 8px;
}

/*#categories .filtersection {
	border-radius: 0 30px 0 0;
}

#usercategories .filtersection {
	border-radius: 30px 0 0 0;
}*/

.usercontainer {
    margin-right: 20px;
}

.categorycontainer {
  display: block;
  height: 500px;
  overflow: scroll;
  width: 100%;
  background-color: white;
  padding: 8px;
  overflow-x: hidden;
  font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
  border: 2px dashed black;
}
.categorycontainer-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}
.categorycontainer > li,
.gu-mirror {
  margin: 10px;
  padding: 10px;
  background-color: #6b2f1b;
  color: white;
  transition: opacity 0.4s ease-in-out;
  list-style: none;
}
.categorycontainer > li {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.tab-content {
	padding-left: 30px; 
	padding-right: 30px;
	padding-bottom: 100px;
}

.page-content {
	margin-bottom: 0px;
}

@media ( max-width : 585px ) {
	.wizard {
		width: 90%;
		height: auto !important;
	}
	span.round-tab {
		font-size: 16px;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.wizard .nav-tabs>li a {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.wizard li.active:after {
		content: " ";
		position: absolute;
		left: 35%;
	}
}